// Shorthand

.fixed-top {
  position: fixed;
  top: 0;
  @include rtlize('end', 0);
  @include rtlize('start', 0);
  z-index: $zindex-fixed;
}

.fixed-bottom {
  position: fixed;
  @include rtlize('end', 0);
  bottom: 0;
  @include rtlize('start', 0);
  z-index: $zindex-fixed;
}

// Responsive sticky top
@supports (position: sticky) {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      .sticky#{$infix}-top {
        position: sticky;
        top: 0;
        z-index: $zindex-sticky;
      }
    }
  }
}
